body
{
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
}

header
{
    background: url('../img/doge.jpg') no-repeat;
    border-radius: 60px;
    margin: 50px auto;
    height: 120px;
    width: 120px;
}

article
{
    margin: 50px 25px;
}

article section
{
    margin: 0 0 50px 0;
    text-align: left;
}

article section h1
{
    font-family: sans-serif;
    font-size: large;
    font-weight: 700;
    margin: 0 0 10px 0;
}

article section p
{
    font-family: sans-serif;
    font-size: normal;
    line-height: 18px;
}
