body
{
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
}

header
{
    background: url('../img/doge.jpg') no-repeat;
    border-radius: 60px;
    margin: 50px auto;
    height: 120px;
    width: 120px;
}

article
{
    margin: 50px 25px;
}

article section
{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    margin: 0 0 50px 0;
    text-align: left;
}

article section p
{
    line-height: 24px;
}
